In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasının özelliği
Bu tablo, çeşitli ülkelerle ilgili bir dizi demografik, ekonomik ve coğrafi veriyi içermektedir. Tabloda her bir satır bir ülkeyi temsil ederken, sütunlar bu ülkelerle ilgili farklı özellikleri gösterir. İşte sütunların anlamları:

Country: Ülkenin adı.  
Region: Ülkenin bulunduğu bölge (örneğin, Asya, Doğu Avrupa).  
Population: Ülkenin toplam nüfusu.  
Area (sq. mi.): Ülkenin yüzölçümü (mil kare olarak).  
Pop. Density (per sq. mi.): Nüfus yoğunluğu (mil kare başına düşen kişi sayısı).  
Coastline (coast/area ratio): Sahil uzunluğunun, ülkenin toplam alanına oranı.  
Net migration: Net göç oranı (göçmenlerin ülkeye giren veya ülkeden çıkan kişi sayısına göre oranı).  
Infant mortality (per 1000 births): Bebek ölüm oranı (1000 doğum başına).  
GDP ($ per capita): Kişi başına düşen Gayri Safi Yurtiçi Hasıla (GSYİH).  
Literacy (%): Okur-yazarlık oranı.  
Phones (per 1000): Her 1000 kişi başına düşen telefon sayısı.  
Arable (%): Tarıma elverişli arazi yüzdesi.  
Crops (%): Ekilebilir ürünlerin yüzdesi.  
Other (%): Diğer arazi kullanımı yüzdesi.  
Climate: Ülkenin iklim kategorisi (numerik bir değer olarak gösterilmiş).  
Birthrate: Doğum oranı.  
Deathrate: Ölüm oranı.  
Agriculture: Tarım sektörünün ekonomideki payı.  
Industry: Sanayi sektörünün ekonomideki payı.  
Service: Hizmet sektörünün ekonomideki payı.

## Bu Dosyada Yapacağınız görevleri alt taraftan bakabilirsiniz.

## 1. Görev : Nüfusa Göre Azalan Sırada Sıralama:

In [ ]:
# Nüfusa Göre Azalan Sırada Sıralama kodunu buraya yazınız

df_sorted = data.sort_values(by='Population', ascending=False)

# Sonucu görmek için ilk 5 satırı ekrana yazdıralım
print(df_sorted.head())

            Country                               Region  Population  \
42           China         ASIA (EX. NEAR EAST)           1313973713
94           India         ASIA (EX. NEAR EAST)           1095351995
214  United States   NORTHERN AMERICA                      298444215
95       Indonesia         ASIA (EX. NEAR EAST)            245452739
27          Brazil               LATIN AMER. & CARIB       188078227

     Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
42          9596960                      136,9                         0,15
94          3287590                      333,2                         0,21
214         9631420                       31,0                         0,21
95          1919440                      127,9                         2,85
27          8511965                       22,1                         0,09

    Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
42           -0,4                              24,18              5000.0
94          -0,07                              56,29              2900.0
214          3,41                                6,5             37800.0
95              0                               35,6              3200.0
27          -0,03                              29,61              7600.0

    Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
42          90,9             266,7       15,4      1,25     83,35     1,5
94          59,5              45,4       54,4      2,74     42,86     2,5
214         97,0             898,0      19,13      0,22     80,65       3
95          87,9              52,0      11,32      7,23     81,45       2
27          86,4             225,3       6,96       0,9     92,15       2

    Birthrate Deathrate Agriculture Industry Service
42      13,25      6,97       0,125    0,473   0,403
94      22,01      8,18       0,186    0,276   0,538
214     14,14      8,26        0,01    0,204   0,787
95      20,34      6,25       0,134    0,458   0,408
27      16,56      6,17       0,084      0,4   0,516

## 2. Görev: GDP per capita sütununa göre ülkeleri artan sırada sıralamak(Kişi başına düşen Gayri Safi Yurtiçi Hasıla).

In [ ]:


df_gdp_sorted = data.sort_values(by='GDP ($ per capita)', ascending=True)

# Sonucu görmek için ilk 5 satırı yazdıralım
print(df_gdp_sorted[['Country', 'GDP ($ per capita)']].head())

           Country  GDP ($ per capita)
58     East Timor                500.0
183  Sierra Leone                500.0
188       Somalia                500.0
33        Burundi                600.0
125        Malawi                600.0

## 3. Görev: Population sütunu 10 milyonun üzerinde olan ülkeleri seçmek.

In [ ]:
# Kodunu buraya yazınız.


# 1. Önce koşulumuzu belirliyoruz
kosul = data['Population'] > 10000000

# 2. Bu koşulu ana tablomuzun içine vererek filtreliyoruz
buyuk_ulkeler = data[kosul]

# Sonucu görelim 
print(buyuk_ulkeler[['Country', 'Population']].head())

         Country  Population
0   Afghanistan     31056997
2       Algeria     32930091
5        Angola     12127071
8     Argentina     39921833
11    Australia     20264082

## 4. Görev: Literacy (%) sütununa göre ülkeleri sıralayıp, en yüksek okur-yazarlık oranına sahip ilk 5 ülkeyi seçmek.

In [ ]:
# Kodunu buraya yazınız.


en_okuryazar_ilk5 = data.sort_values(by='Literacy (%)', ascending=False).head(5)

# Sonucu görelim 
print(en_okuryazar_ilk5[['Country', 'Literacy (%)']])

             Country Literacy (%)
53   Czech Republic          99,9
93          Iceland          99,9
163          Poland          99,8
114          Latvia          99,8
64          Estonia          99,8

## 5. Görev:  Kişi Başı GSYİH 10.000'in Üzerinde Olan Ülkeleri Filtreleme: GDP ( per capita) sütunu 10.000'in üzerinde olan ülkeleri seçmek.

In [7]:
# Kodunu buraya yazınız.



zengin_ulkeler = data[data['GDP ($ per capita)'] > 10000]


print(zengin_ulkeler[['Country', 'Region', 'GDP ($ per capita)']].head())


print("Yüksek gelirli ülke sayısı:", len(zengin_ulkeler))

               Country                               Region  \
4             Andorra   WESTERN EUROPE
7   Antigua & Barbuda               LATIN AMER. & CARIB
8           Argentina               LATIN AMER. & CARIB
10              Aruba               LATIN AMER. & CARIB
11          Australia   OCEANIA

    GDP ($ per capita)
4              19000.0
7              11000.0
8              11200.0
10             28000.0
11             29000.0
Yüksek gelirli ülke sayısı: 76

## Görev 6 : En Yüksek Nüfus Yoğunluğuna Sahip İlk 10 Ülkeyi Seçme:
Pop. Density (per sq. mi.) sütununa göre ülkeleri sıralayıp, en yüksek nüfus yoğunluğuna sahip ilk 10 ülkeyi seçmek.

In [8]:

en_yogun_ilk10 = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False).head(10)

print(en_yogun_ilk10[['Country', 'Pop. Density (per sq. mi.)']])

         Country Pop. Density (per sq. mi.)
9       Armenia                        99,9
186    Slovenia                        99,2
202        Togo                        97,7
12      Austria                        97,7
168     Romania                        93,9
77        Ghana                        93,6
140  Montserrat                        92,5
13   Azerbaijan                        91,9
56     Dominica                        91,4
206      Turkey                        90,2